<!-- Playlist Selector Screen Component -->
<div id="playlistSelector" class="playlist-selector hidden">
    <div class="selector-content">
        <h1 class="selector-title" id="selectorTitle">Selecciona una Lista</h1>
        <div class="selector-list" id="selectorList">
            <!-- Playlists will be populated here dynamically -->
        </div>
        <div class="selector-footer">
            <div class="footer-hint">
                <span class="color-btn color-green"></span>
                <span id="selectorAddNewHint">Agregar Nueva Lista</span>
            </div>
        </div>
    </div>
</div>
